@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

// VARIABLES
$dark-color: #1E1E1E;
$primary-color: #EB562E;
$gray-bg: #FAFAFA;
// VARIABLES

// common
body{
    font-family: 'Libre Baskerville', serif;
}
img{
    max-width: 100%;
}
// common

// typography
h1,h2{
    font-weight: 600;
    span{
        color: $primary-color;
    }
}
h4{
    font-size: 1rem;
}
p{
    font-family: 'PT Sans', sans-serif;
    font-weight: 200;
    opacity: .4;
}
// typography
