@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

// VARIABLES
$dark-color: #1E1E1E;
$primary-color: #FF4612;
$gray-bg: #fafafa;
// VARIABLES

// common
body{
    font-family: 'Libre Baskerville', serif;
}
img{
    max-width: 100%;
}
hr{
    width: 50px;
    opacity: 1;
    border: 1px solid $primary-color;
    
}
// common

// typography
h1,h2,h3{
    font-weight: 600;
    span{
        color: $primary-color;
    }
}
h3{
    font-size: 1.5rem;
}
h4{
    font-size: 1rem;
}
p{
    font-family: 'PT Sans', sans-serif;
    font-weight: 200;
    opacity: .4;
}
.read-more{
    color: black;
    font-family: 'PT Sans', sans-serif;
    font-weight: 900;
    text-decoration: none;
    font-size: .8rem;
    &:hover{
        color: $primary-color;
    }
}
// typography
